<br>
<br>
<div class="row">
    <div class="col-sm-6">
        <img class="img-responsive" src="assets/images/fondo.jpg" class="img-rounded" title="Social Network" width="100%" height="100%"> 
        <div id="centered1" class="centered"><h3><strong>⁙ Sigue tu interés.</strong></h3></div>
        <div id="centered2" class="centered"><h3><strong>⁙ Escucha lo que dice la gente.</strong></h3></div>
        <div id="centered3" class="centered"><h3><strong>⁙ Únete a la conversación.</strong></h3></div>
    </div><br>
    <div class="col-sm-6">
        <div id="marcos">
            <img src="assets/images/logo.png" class="img_rounded" title="Social Network" width="80px" height="80px">
            <h2><strong>Mira lo que está pasando en <br> el mundo ahora mismo</strong></h2><br>
            <h4><strong>Se parte de Social Network hoy.</strong></h4><br>
            <form (submit)="LoguearUsuario()" id="centrado">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">📨</span>
                    <input type="email" class="form-control" placeholder="Correo electrónico" name="usuario" required="required"
                    [(ngModel)]="user.usuario">
                </div><br>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">🔐</span>
                    <input type="password" class="form-control" placeholder="Contraseña" name="password" required="required"
                    [(ngModel)]="user.password">
                </div><br>
                <a id="referencia" data-toggle="tooltip" title="Reset password" href="">¿Olvidaste tu contraseña?</a><br><br>
                <div id="centrado">
                    <button id="signup" class="btn btn-info btn-lg">Iniciar sesión</button><br>
                </div>
            </form>
        </div><br>
    </div>
</div><br>